hydromt_wflow==0.5.0
pyflwdir==0.5.8
gwwapi==0.0.2
openeo==0.28.0
openeo-processes-dask==2024.3.0
dask-geopandas==0.3.1
xvec==0.2.0
joblib==1.3.2
planetary-computer==1.0.0
stackstac==0.5.0
stac-validator==3.3.2
odc-geo==0.4.3
dask[dataframe]
requests
aiohttp
pystac
rio-stac
# -e git+https://github.com/iacopoff/hydromt.git@cwl#egg=hydromt
# -e git+https://github.com/clausmichele/openeo-pg-parser-networkx.git@pydantic2#egg=openeo_pg_parser_networkx